_brand/fonts_unused/Archivo-Bold.ttf
_brand/fonts_unused/Archivo-Italic.ttf
_brand/fonts_unused/Archivo-Regular.ttf
_brand/fonts_unused/Archivo-SemiBold.ttf
_brand/fonts_unused/ArchivoNarrow-BoldItalic.ttf
_brand/fonts_unused/ArchivoNarrow-MediumItalic.ttf
_brand/fonts_unused/ArchivoNarrow-Regular.ttf
_brand/fonts_unused/Champion-Middleweight-0b74c8908bc04f7cb20a6bb6cafa6fd4.woff2
_brand/fonts_unused/Champion-Middleweight-4631adccccfbb862dee47768e7eb4d86.woff
_brand/fonts_unused/ChampionWelter.css
_brand/fonts_unused/icons.woff2
_brand/fonts_unused/ProximaNova-Light-36453eefae2edd1c9cd374de17a6ce63.woff
_brand/fonts_unused/Tahoma-Bold.ttf
_brand/fonts_unused/Tahoma.ttf
_brand/brand-guidelines.pdf
_brand/fonts.zip
_brand/QA.txt
