$btn-colors: (
  "default" $c--teal $c--teal-light,
  "purple" $c--purple-medium $c--purple-light,
  "red" $c--red $c--fuchsia,
  "gold" $c--gold $c--mint,
  "fuchsia" $c--fuchsia $c--purple-light
);
.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none; //for a.btn
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.8em;
  min-width: 10em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0 1em;
  border: none;
  border-radius: 1.9em;
  color: $c--white;
  transition: 0.3s ease all;
  @each $btn-theme, $btn-color, $btn-hover in $btn-colors {
    &--#{$btn-theme} {
      background-color: $btn-color;
      box-shadow: inset 0 0 0 0.15em $btn-color;
    }
    &--#{$btn-theme}:hover,
    &--#{$btn-theme}:focus {
      background-color: $btn-hover;
      box-shadow: inset 0 0 0 0.15em $btn-hover;
    }
    &--#{$btn-theme}.btn--outline {
      color: $btn-color;
    }
    &--#{$btn-theme}.btn--outline:hover,
    &--#{$btn-theme}.btn--outline:focus {
      color: $btn-hover;
    }

    &--#{$btn-theme},
    &--#{$btn-theme}.btn--outline {
      &:disabled,
      &:disabled:hover,
      &:disabled:focus {
        background-color: $c--gray-light;
        box-shadow: inset 0 0 0 0.15em $c--gray-light;
        cursor: not-allowed;
      }
    }
    &--#{$btn-theme}.btn--outline {
      &:disabled,
      &:disabled:hover,
      &:disabled:focus {
        background-color: transparent;
        color: $c--gray-light;
      }
    }
    &--outline,
    &--outline:hover,
    &--outline:focus {
      background-color: transparent;
    }
  }
  &--small {
    font-size: 0.75rem;
  }
  &--big {
    font-size: 1.25rem;
  }
  &--extended {
    width: 100%;
  }
}
.btn .m-icon {
  font-size: 1.75em;
  position: relative;
  margin-left: 0.25em;
}
