$PennywiseWhite: rgb(255, 255, 255);
$GuttermouthGrey: rgb(230, 231, 232);
$LeTigreLavender: rgb(213, 211, 228);
$MC5Mint: rgb(130, 210, 150);
$TSOLTeal: rgb(0, 125, 145);
$RefusedRobin: rgb(0, 182, 180);
$GermsDarkGrey: rgb(115, 115, 115);
$FugaziFuchsia: rgb(181, 87, 175);
$BadBrainsPurple: rgb(110, 70, 174);
$ViolentFemmesViolet: rgb(61, 36, 98);
$DescendentsDarkPurple: rgb(35, 9, 57);
$BlackFlag: rgb(0, 0, 0);
$MinorThreatMarigold: rgb(240, 155, 30);
$HuskerDuTang: rgb(220, 50, 60);
$c--text: $GermsDarkGrey;
$c--black: $BlackFlag;
$c--white: $PennywiseWhite;
$c--gray-light: $GuttermouthGrey;
$c--gray: $GermsDarkGrey;
$c--levander: $LeTigreLavender;
$c--gold: $MinorThreatMarigold;
$c--fuchsia: $FugaziFuchsia;
$c--purple-light: $BadBrainsPurple;
$c--purple-medium: $ViolentFemmesViolet;
$c--purple-dark: $DescendentsDarkPurple;
$c--red: $HuskerDuTang;
$c--teal: $TSOLTeal;
$c--teal-light: $RefusedRobin;
$c--mint: $MC5Mint;
