.logo {
  width: 147px * 2;
  height: 25px * 2;
  fill: $c--purple-medium;
  &--teal-light {
    --color-pop: $c--teal-light;
  }
  &--mint {
    --color-pop: $c--mint;
  }
  &--red {
    --color-pop: $c--red;
  }
  &--gold {
    --color-pop: $c--gold;
  }
  &--fuchsia {
    --color-pop: $c--fuchsia;
  }
  &--light {
    fill: $c--levander;
  }
}
.logo-mb {
  width: auto;
  height: 25px * 2;
}
.logo-m {
  width: 40px;
  height: 40px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // IE10+ Fallback
  .logo-m.logo--teal-light {
    fill: $c--teal-light;
  }
  .logo-m.logo--mint {
    fill: $c--mint;
  }
  .logo-m.logo--red {
    fill: $c--red;
  }
  .logo-m.logo--gold {
    fill: $c--gold;
  }
  .logo-m.logo--fuchsia {
    fill: $c--fuchsia;
  }
}
