/* Breakpoints */
/* Colors */
/* Fonts */
:root {
  scroll-behavior: smooth;
  font-size: 18px;
  font-style: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  text-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d5d3e4;
  font-family: "Proxima Nova", sans-serif;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 1rem auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Champion";
  font-weight: 300;
  margin: 2rem 0 1rem 0;
  color: #230939;
}

h1 {
  font-size: 3.75rem;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 3.125rem;
  text-align: center;
}

h3 {
  font-size: 3.125rem;
  text-align: left;
}

h4 {
  font-size: 1.15rem;
  text-align: left;
}

.m-icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.comps {
  /**:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }*/
}

.comps .container {
  max-width: 3840px;
  margin: auto;
  color: #737373;
}

.comps header,
.comps section,
.comps footer {
  padding: 2rem;
  background-color: #f09b1e;
}

.comps header .content,
.comps section .content,
.comps footer .content {
  margin: auto;
  max-width: 1366px;
  padding: 2rem;
}

.comps header .content > h1,
.comps header .content > h2,
.comps header .content > h3,
.comps header .content > h4,
.comps header .content > p,
.comps section .content > h1,
.comps section .content > h2,
.comps section .content > h3,
.comps section .content > h4,
.comps section .content > p,
.comps footer .content > h1,
.comps footer .content > h2,
.comps footer .content > h3,
.comps footer .content > h4,
.comps footer .content > p {
  color: white;
}

.comps h-include:nth-of-type(even) section {
  background-color: #007d91;
}

.comps h-include:nth-of-type(odd) section {
  background-color: #f09b1e;
}

.comps header {
  height: calc(100vh / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3d2462;
}

.comps footer {
  background-color: #230939;
  color: white;
}

.comps .content h3:first-child {
  margin-top: 0;
}

.comps .content h3 {
  margin-bottom: 1em;
}

.comps .content > p,
.comps .demo > p {
  margin: 3rem 0 1rem 0;
  line-height: 1.75;
}

.comps .content > p + p,
.comps .demo > p + p {
  margin-top: 1rem;
}

.comps .content > p:first-child,
.comps .demo > p:first-child {
  margin-top: 0;
}

.comps .content > p:last-child,
.comps .demo > p:last-child {
  margin-bottom: 0;
}

.comps .demo {
  background-color: white;
  padding: 3rem;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 0 0 #6e46ae;
}

.comps .quick-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
}

.comps .quick-flexbox > a {
  margin: 1rem;
  text-decoration: none;
}

code {
  background-color: #e6e7e8;
  color: #230939;
  font-weight: bold;
  padding: 0.2em;
  margin-right: 0.25em;
  box-shadow: 0.25em 0.25em 0 0em #d5d3e4;
}

/* Logos */
.logo {
  width: 147px;
  height: 25px;
  fill: #6e46ae;
}

.logo--teal-light {
  --color-pop: rgb(0, 182, 180);
}

.logo--mint {
  --color-pop: rgb(130, 210, 150);
}

.logo--red {
  --color-pop: rgb(220, 50, 60);
}

.logo--gold {
  --color-pop: rgb(240, 155, 30);
}

.logo--fuchsia {
  --color-pop: rgb(181, 87, 175);
}

.logo--light {
  fill: #d5d3e4;
}

.logo-mb {
  width: 259px;
  height: 25px;
}

.logo-m {
  width: 40px;
  height: 40px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .logo-m.logo--teal-light {
    fill: #00b6b4;
  }
  .logo-m.logo--mint {
    fill: #82d296;
  }
  .logo-m.logo--red {
    fill: #dc323c;
  }
  .logo-m.logo--gold {
    fill: #f09b1e;
  }
  .logo-m.logo--fuchsia {
    fill: #b557af;
  }
}

/* Boxes & Cards */
a .card {
  margin: 0;
}

.card {
  display: block;
  max-width: 360px;
  box-shadow: -0.5rem 0.5rem 0 0 #82d296;
  background-color: white;
  margin: 1rem;
}

.card--img {
  margin-bottom: -1rem;
}

.card--content {
  padding: 2rem;
  color: #230939;
}

.card--title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #007d91;
}

.card--title h3 {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
}

.card--title p {
  margin-top: 0;
}

.testimonial {
  display: block;
  min-width: 600px;
  position: relative;
}

.testimonial--content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
}

/* Boxes & Cards */
.testimonials {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem -2rem;
  padding: 0 2rem;
}

.tm {
  max-width: 400px;
  min-width: 280px;
  width: calc(100% / 3);
  background-color: #230939;
  color: white;
  box-shadow: -1rem 1rem 0 0 #82d296;
  padding: 2rem 1rem;
  font-size: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 2rem 1rem 2rem;
  transition: all ease 0.3s;
}

.tm:hover {
  box-shadow: -1rem 1rem 0 0 #f09b1e;
}

.tm--photo img {
  border-radius: 50% 50%;
  max-width: 150px;
  height: auto;
  display: block;
  margin: auto;
  background-color: white;
}

.tm--details {
  position: relative;
  padding: 0;
  padding-left: calc(65px + 1rem);
  margin: 1rem 0 0.5rem;
  min-height: 5em;
  line-height: 1.25em;
}

.tm--name {
  font-weight: bold;
  font-size: 18px;
}

.tm--company {
  color: #f09b1e;
  font-weight: bold;
}

.tm--company-logo {
  border-radius: 50% 50%;
  width: 65px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  padding: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.tm--content {
  margin: 0 0 2rem 0;
}

.tm--btn {
  margin-top: auto;
}

/* Buttons */
.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.8em;
  min-width: 10em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0 1em;
  border: none;
  border-radius: 1.9em;
  color: white;
  transition: 0.3s ease all;
}

.btn--default {
  background-color: #007d91;
  box-shadow: inset 0 0 0 0.15em #007d91;
}

.btn--default:hover, .btn--default:focus {
  background-color: #00b6b4;
  box-shadow: inset 0 0 0 0.15em #00b6b4;
}

.btn--default.btn--outline {
  color: #007d91;
}

.btn--default.btn--outline:hover, .btn--default.btn--outline:focus {
  color: #00b6b4;
}

.btn--default:disabled, .btn--default:disabled:hover, .btn--default:disabled:focus, .btn--default.btn--outline:disabled, .btn--default.btn--outline:disabled:hover, .btn--default.btn--outline:disabled:focus {
  background-color: #e6e7e8;
  box-shadow: inset 0 0 0 0.15em #e6e7e8;
  cursor: not-allowed;
}

.btn--default.btn--outline:disabled, .btn--default.btn--outline:disabled:hover, .btn--default.btn--outline:disabled:focus {
  background-color: transparent;
  color: #e6e7e8;
}

.btn--outline, .btn--outline:hover, .btn--outline:focus {
  background-color: transparent;
}

.btn--purple {
  background-color: #3d2462;
  box-shadow: inset 0 0 0 0.15em #3d2462;
}

.btn--purple:hover, .btn--purple:focus {
  background-color: #6e46ae;
  box-shadow: inset 0 0 0 0.15em #6e46ae;
}

.btn--purple.btn--outline {
  color: #3d2462;
}

.btn--purple.btn--outline:hover, .btn--purple.btn--outline:focus {
  color: #6e46ae;
}

.btn--purple:disabled, .btn--purple:disabled:hover, .btn--purple:disabled:focus, .btn--purple.btn--outline:disabled, .btn--purple.btn--outline:disabled:hover, .btn--purple.btn--outline:disabled:focus {
  background-color: #e6e7e8;
  box-shadow: inset 0 0 0 0.15em #e6e7e8;
  cursor: not-allowed;
}

.btn--purple.btn--outline:disabled, .btn--purple.btn--outline:disabled:hover, .btn--purple.btn--outline:disabled:focus {
  background-color: transparent;
  color: #e6e7e8;
}

.btn--outline, .btn--outline:hover, .btn--outline:focus {
  background-color: transparent;
}

.btn--red {
  background-color: #dc323c;
  box-shadow: inset 0 0 0 0.15em #dc323c;
}

.btn--red:hover, .btn--red:focus {
  background-color: #b557af;
  box-shadow: inset 0 0 0 0.15em #b557af;
}

.btn--red.btn--outline {
  color: #dc323c;
}

.btn--red.btn--outline:hover, .btn--red.btn--outline:focus {
  color: #b557af;
}

.btn--red:disabled, .btn--red:disabled:hover, .btn--red:disabled:focus, .btn--red.btn--outline:disabled, .btn--red.btn--outline:disabled:hover, .btn--red.btn--outline:disabled:focus {
  background-color: #e6e7e8;
  box-shadow: inset 0 0 0 0.15em #e6e7e8;
  cursor: not-allowed;
}

.btn--red.btn--outline:disabled, .btn--red.btn--outline:disabled:hover, .btn--red.btn--outline:disabled:focus {
  background-color: transparent;
  color: #e6e7e8;
}

.btn--outline, .btn--outline:hover, .btn--outline:focus {
  background-color: transparent;
}

.btn--gold {
  background-color: #f09b1e;
  box-shadow: inset 0 0 0 0.15em #f09b1e;
}

.btn--gold:hover, .btn--gold:focus {
  background-color: #82d296;
  box-shadow: inset 0 0 0 0.15em #82d296;
}

.btn--gold.btn--outline {
  color: #f09b1e;
}

.btn--gold.btn--outline:hover, .btn--gold.btn--outline:focus {
  color: #82d296;
}

.btn--gold:disabled, .btn--gold:disabled:hover, .btn--gold:disabled:focus, .btn--gold.btn--outline:disabled, .btn--gold.btn--outline:disabled:hover, .btn--gold.btn--outline:disabled:focus {
  background-color: #e6e7e8;
  box-shadow: inset 0 0 0 0.15em #e6e7e8;
  cursor: not-allowed;
}

.btn--gold.btn--outline:disabled, .btn--gold.btn--outline:disabled:hover, .btn--gold.btn--outline:disabled:focus {
  background-color: transparent;
  color: #e6e7e8;
}

.btn--outline, .btn--outline:hover, .btn--outline:focus {
  background-color: transparent;
}

.btn--fuchsia {
  background-color: #b557af;
  box-shadow: inset 0 0 0 0.15em #b557af;
}

.btn--fuchsia:hover, .btn--fuchsia:focus {
  background-color: #6e46ae;
  box-shadow: inset 0 0 0 0.15em #6e46ae;
}

.btn--fuchsia.btn--outline {
  color: #b557af;
}

.btn--fuchsia.btn--outline:hover, .btn--fuchsia.btn--outline:focus {
  color: #6e46ae;
}

.btn--fuchsia:disabled, .btn--fuchsia:disabled:hover, .btn--fuchsia:disabled:focus, .btn--fuchsia.btn--outline:disabled, .btn--fuchsia.btn--outline:disabled:hover, .btn--fuchsia.btn--outline:disabled:focus {
  background-color: #e6e7e8;
  box-shadow: inset 0 0 0 0.15em #e6e7e8;
  cursor: not-allowed;
}

.btn--fuchsia.btn--outline:disabled, .btn--fuchsia.btn--outline:disabled:hover, .btn--fuchsia.btn--outline:disabled:focus {
  background-color: transparent;
  color: #e6e7e8;
}

.btn--outline, .btn--outline:hover, .btn--outline:focus {
  background-color: transparent;
}

.btn--small {
  font-size: 0.75rem;
}

.btn--big {
  font-size: 1.25rem;
}

.btn--extended {
  width: 100%;
}

.btn .m-icon {
  font-size: 1.75em;
  position: relative;
  margin-left: 0.25em;
}

/* FAQs Accordion styles */
.accordion {
  background-color: white;
  max-width: 792px;
  margin: auto;
  overflow: hidden;
  text-align: left;
}

.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.acc-item {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #737373;
}

.acc-item--label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  color: #007d91;
  font-weight: bold;
  cursor: pointer;
  transition: 0.35s color ease;
}

.acc-item--label:hover {
  color: #00b6b4;
}

.acc-item--label::after {
  content: "expand_more";
  font-family: "Material Icons";
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acc-item:last-child {
  border-bottom: none;
}

.acc-item--content {
  max-height: 0;
  padding: 0;
  color: inherit;
  overflow: hidden;
  transition: all 0.35s ease;
}

input:checked + .acc-item--label {
  color: #00b6b4;
}

input:checked + .acc-item--label::after {
  transform: scaleY(-1);
}

input:checked ~ .acc-item--content {
  max-height: 100vh;
  padding: 0 0 1em 0;
}
/*# sourceMappingURL=styles.css.map */