/* Breakpoints */
@import "breakpoints";
/* Colors */
@import "colors";
/* Fonts */
//@import "fonts";

:root {
  scroll-behavior: smooth;
  font-size: 18px;
  font-style: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  text-shadow: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: $c--levander;
  font-family: "Proxima Nova", sans-serif;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr {
  margin: 1rem auto;
}
h1,
h2,
h3,
h4 {
  font-family: "Champion";
  font-weight: 300;
  margin: 2rem 0 1rem 0;
  color: $c--purple-dark;
}
h1 {
  font-size: 3.75rem;
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 3.125rem;
  text-align: center;
}
h3 {
  font-size: 3.125rem;
  text-align: left;
}
h4 {
  font-size: 1.15rem;
  text-align: left;
}
.m-icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.comps {
  .container {
    max-width: 3840px;
    margin: auto;
    color: $c--gray;
  }
  header,
  section,
  footer {
    padding: 2rem;
    background-color: $c--gold;
    .content {
      margin: auto;
      max-width: 1366px;
      padding: 2rem;
      > h1,
      > h2,
      > h3,
      > h4,
      > p {
        color: $c--white;
      }
    }
  }
  h-include:nth-of-type(even) section {
    background-color: $c--teal;
  }
  h-include:nth-of-type(odd) section {
    background-color: $c--gold;
  }
  header {
    height: calc(100vh / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $ViolentFemmesViolet;
  }
  footer {
    background-color: $c--purple-dark;
    color: $c--white;
  }
  /**:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }*/
  .content h3:first-child {
    margin-top: 0;
  }
  .content h3 {
    margin-bottom: 1em;
  }
  .content > p,
  .demo > p {
    margin: 3rem 0 1rem 0;
    line-height: 1.75;
  }
  .content > p + p,
  .demo > p + p {
    margin-top: 1rem;
  }
  .content > p:first-child,
  .demo > p:first-child {
    margin-top: 0;
  }
  .content > p:last-child,
  .demo > p:last-child {
    margin-bottom: 0;
  }

  .demo {
    background-color: $c--white;
    padding: 3rem;
    margin: 2rem 0;
    box-shadow: 0.5rem 0.5rem 0 0 $c--purple-light;
  }
  .quick-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    > a {
      margin: 1rem;
      text-decoration: none;
    }
  }
}
code {
  background-color: $c--gray-light;
  color: $c--purple-dark;
  font-weight: bold;
  padding: 0.2em;
  margin-right: 0.25em;
  box-shadow: 0.25em 0.25em 0 0em $LeTigreLavender;
}
/* Logos */
@import "logos";

/* Boxes & Cards */
@import "boxes-n-cards";

/* Boxes & Cards */
@import "testimonials";

/* Buttons */
@import "buttons";

/* FAQs Accordion styles */
@import "accordion";
